<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/estilos.css">
        <meta description="Este es el portafolio de Carlos Enrique Ochoa García">
        <title>Portafolio Carlos 8a</title>
    </head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <ul class="MeinMenu-list">
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#yo">Yo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#perfil">Perfil</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#trabajo">Trabajo</a>
                    </li>
                    <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </nav>
            <figure class="Header-imageContainer">
                <img src="../static/images/avatar.png" alt="Imagen Personal" class="Header-imagen"/>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link" href="http://twitter.com/benoto10" target="_black">@Carlos Ochoa</a>
                </figcaption>
                <p class="Header-name">Carlos Ochoa</p>
            </figure>
        </header>
        <section class="Profile" id="perfil">
            <h2 class="Profile-title u-title" >Mi perfil</h2>
            <p class="Profile-description" >
                Hola si ves esto es porque descargaste mi plantilla, si te gusta lo que hize no dudes en seguirme en las redes sociales, abajo te dejo los link! y si algo de la pagina no te gusta o se te hace que necesita modificaciones hazmelo saber :D
            </p>
            <a class="Profile-link" href="http://twitter.com/benoto10" target="_blank">Twitter</a>
            <a class="Profile-link" href="https://www.facebook.com/benoto10" target="_blank">Facebook</a>
            <a class="Profile-link" href="http://github.com/charlie8a" target="_blank">Github</a>
        </section>
        <section class="Work" id="trabajo">
            <h2 class="Work-title u-title" >Mi trabajo</h2>
            <article class="Work-item">
                <figure class="Work-imageContainer" >
                    <img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen">
                    <figcaption class="Work-description" >Link e imagen de tu evidencia del portafolio</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer" >
                    <img class="Work-image" src="../static/images/thumb2.jpg" alt="Es la descripcion de mi imagen">
                    <figcaption class="Work-description" >Link e imagen de tu evidencia del portafolio</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer" >
                    <img class="Work-image" src="../static/images/thumb3.jpg" alt="Es la descripcion de mi imagen">
                    <figcaption class="Work-description" >Link e imagen de tu evidencia del portafolio</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer" >
                    <img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen">
                    <figcaption class="Work-description" >Link e imagen de tu evidencia del portafolio</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer" >
                    <img class="Work-image" src="../static/images/thumb2.jpg" alt="Es la descripcion de mi imagen">
                    <figcaption class="Work-description" >Link e imagen de tu evidencia del portafolio</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer" >
                    <img class="Work-image" src="../static/images/thumb3.jpg" alt="Es la descripcion de mi imagen">
                    <figcaption class="Work-description" >Link e imagen de tu evidencia del portafolio</figcaption>
                </figure>
            </article>
            <article class="Work-item">
                <figure class="Work-imageContainer" >
                    <img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen">
                    <figcaption class="Work-description" >Link e imagen de tu evidencia del portafolio</figcaption>
                </figure>
            </article>
        </section>
        <footer class="Footer" id="contacto">
            <div class="Footer-left" >
                <h3 class="Footer-title">Contacto</h3>
                <p class="Footer-description">Si tienes alguna pregunta o sugerencia puedes ponerte en contacto con este formulario</p>
            </div>
            <form class="Footer-form">
                <input class="Footer-formInput" type="text" placeholder="Nombre"/>
                <input class="Footer-formInput" type="email" placeholder="Email"/>
                <textarea class="Footer-textArea" placeholder="Motivo"></textarea>
                <button class="Footer-Button" type="submit">Contactarme</button>
            </form>
        </footer>
    </body>
</html>